<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <h5>新規登録を行っていただけた場合、以下のことができるようになります！</h5>
    
    <
    <div class="media">
      <a class="media-left" href="#">
        <img class="media-object" src="test1.jpg">
　　　</a>
      <div class="media-body">
      <h6 class="media-heading">フォロー、フォロワー機能</h6>
      <p>あなたのお気に入りのプレイヤーと繋がれる！</p>
    </div>
</div>

<div class="media">
    <div class="media-body">
        <h6 class="media-heading"> <i class="fas fa-heart" style="color:red;" ></i>いいね機能</h6>
        <p>グッドプレーにいいねしちゃおう！</p>
    </div>
    <a class="media-right" href="#">
        <img class="media-object" src="test2.jpg">
    </a>
</div>
    
    <div class="media">
      <a class="media-left" href="#">
        <img class="media-object" src="test1.jpg">
　　　</a>
      <div class="media-body">
      <h6 class="media-heading">フォロー、フォロワー機能</h6>
      <p>あなたのお気に入りのプレイヤーと繋がれる！</p>
    </div>
</div>

<div class="media">
    <div class="media-body">
        <h6 class="media-heading"><i class="fas fa-user-friends"></i>自らオフ会を企画しよう機能(*´σｰ｀)ｴﾍﾍ</h6>
        <p>プレイヤー同士交流を深めあおう！(運命的な出会いがあるかも！？)</p>
    </div>
    <a class="media-right" href="#">
        <img class="media-object" src="test2.jpg">
    </a>
</div>


      
    </div>
  </div>
</div>